.body {
  padding-bottom: 5vh;
}

.header {
  font-size: 50px;
  text-align: center;
  padding-top: .4cm;
}

.ul {
  list-style: none;
}

.line {
  align-items: center;
  width: 80%;
  border: 1px solid #333333;
  border-radius: 5px;
}

.roster {
  width:50%;
  background-color: #ffffff;
}

.addteam {
  width: 30%;
  height: 20vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  box-shadow: 0px 10px 30px #555;
  background-color: #ffffff;
  align-items: center;
  text-align: center;
}

.form {
  position: relative;
  width: 50%;
  height: 30%;
  text-align: left;
  overflow: hidden;
}

.input {
  width: 100%;
  height: 100%;
  padding-top: 14px;
  border: none;
  outline: none;
}

.label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #333333;
}

.label::after {
  content: '';
  left: 0px;
  bottom: -2px;
  position: absolute;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #D91F27;
  transform: translateX(-100%);
  transition: all 0.5s ease;
}

.contentname {
  position: absolute;
  bottom: 2px;
  transition: all 0.5s ease;
}

.input:focus + .label .contentname, .input:valid + .label .contentname {
  transform: translateY(-80%);
  color: #D91F27
}

.input:focus + .label::after, .input:valid + .label::after {
  transform: translateX(0%);
}

.playerbutton {
  background-color: #333333;
  color: #F2F2F2;
  width: 10%;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
  border-radius: 20px;
}

.playerbutton:hover {
  color: #333333;
  background-color: #F2F2F2;
  border: 2px solid #D91F27;
  border-radius: 20px;
}

.button {
  background-color: #333333;
  color: #F2F2F2;
  width: 30%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
  border-radius: 20px;
}

.button:hover {
  color: #333333;
  background-color: #F2F2F2;
  border: 2px solid #D91F27;
  border-radius: 20px;
}
