.header {
  font-size: 75px;
  text-align: center;
  padding-top: .5cm;
  bottom: 0;
}

.banner {
  border-radius: 20px;
}

.footer {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.line {
  align-items: center;
  width: 80%;
  border: 1px solid #333333;
  border-radius: 5px;
}

.imagebox {
  text-align: center;
}

.image {
  width: 80%;
  border-radius: 10px;
}

.logo{
  height:10%;
  width: 10%;
}