.slidecontainer {
  width: 30%;
  margin: 1%; 
  justify-items: center;
  text-align: center;
  align-items: center;
}

.imagecontainer {
  width: 100%;
  overflow: hidden;
  justify-content: center;
}

.imagecontainer img {
  width: 100%;
  margin: auto;
  justify-self: center;
  border-radius: 5px;
}

.eachfade {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}