.App {
  color: #333333;
  font-family: 'Open Sans Condensed', sans-serif;
  background: #D91F27;
  background-size: cover;
  height: 100%;
}

.App ::selection {
  background: #333333;
  color: #F2F2F2;
}